<%- include('../partials/header') %>

<div class="container center">
  <form id="update-form" action="/symposia/<%=symposium.id%>?_method=PUT" method="POST">
    <input type="text" name="name" value="<%=symposium.name%>">
    <input class="btn amber center" type="submit" value="UPDATE SYMPOSIUM NAME">
  </form>
</div>


<%- include('../partials/footer') %>