<%- include('../partials/header') %>

<div class="container center">
  <h1>PLEASE LOGIN  WITH GOOGLE</h1>
  <h1>PLEASE LOGIN  WITH GOOGLE</h1>
  <h1>PLEASE LOGIN  WITH GOOGLE</h1>
  <h1>PLEASE LOGIN  WITH GOOGLE</h1>
  <h1>PLEASE LOGIN  WITH GOOGLE</h1>
</div>
 
<%- include('../partials/footer') %>